Django==5.2.7
PyJWT==2.12.1
PyMySQL==1.1.2
asgiref==3.10.0
certifi==2026.2.25
charset-normalizer==3.4.5
crispy-bootstrap5==2024.10
cryptography==46.0.5
django-allauth==65.15.0
django-bootstrap5==25.2
django-crispy-forms==2.4
django-jazzmin==3.0.3
django-widget-tweaks==1.5.0
idna==3.11
mysql-connector-python==9.5.0
nepali-datetime==1.0.8.4
pillow==12.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
ua-parser-builtins==202603
ua-parser==1.0.1
urllib3==2.6.3
user-agents==2.2.0
whitenoise==6.12.0
deep-translator==1.11.4
django-modeltranslation==0.20.2
